<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../public/css/fantang.css">
  <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="../public/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
  <link href="../public/css/styles.css" rel="stylesheet">
</head>

<body class="transparent index-background" style>
<div class="container">
	<div class="col-lg-12">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="container moments center-block blurr">
            	<h1 class="landing_header_font DKCranyonCrumble" align="center" style="color:black;">
					My Account
				</h1>
                <div class="row" align="center">
					<label style="color:black;" for="usrPassword">
						Account Balance: $0.00
					</label>
                </div>
                <div class="row" align="center">
					<button  class="btn-lg btn-info green_sea_back" align="left">
						<span class="glyphicon glyphicon-cutlery"></span>
						<a href="chongqian.html">Purchase Deductive</a>
					</button>
                </div>
                <div class="row" align="center">
					<button  class="btn-lg btn-info green_sea_back" align="left">
						<span class="glyphicon glyphicon-cutlery"></span>
						<a href="jiaoyi.html">Use Deductive</a>
					</button>
                </div>
		    </div>
         </div>
     </div>
</div>
</body>
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/jquery-2.0.3.js"></script>
</html>
