<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Intro HCI</title>
    <link href="../public/css/bootstrap.css" rel="stylesheet">
    <link href="../public/css/styles.css" rel="stylesheet">
</head>

<body class="transparent index-background">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
                <div class="jumbotron transparent landing_header">
                    <div class="container text-center">
                        <h1 class="landing_header_font silent">
                            There and Back 
                        </h1>
                        <br/>
                        <p>
                            <a class="btn-lg btn-info green_sea_back" href="/login"><span
                                    class="glyphicon glyphicon-plane"></span> Go!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--  background-->
<meta name="viewport" 
   content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<script src="https://code.jquery.com/jquery.js"></script>
<script src="../public/js/bootstrap.js"></script>
<script src="../public/js/jquery-2.0.3.js"></script>

</body>
</html>

